.footer{
    height: 240px;
    width: 100%;
    background-color: #273443;
    padding: 56px 20px;
    display: flex;
    justify-content: center;
    margin: 0;
}
.twelve{
    margin-bottom: 0;
    width: 20%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    color: #1c1e21;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
    
}
.thirteen{
    margin-bottom: 0;
    width: 20%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    color: #1c1e21;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
}
.fourteen{
    margin-bottom: 0;
    width: 20%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    color: #1c1e21;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
}
.fifteen{
    margin-bottom: 0;
    width: 20%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    color: #1c1e21;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
}
.sixteen{
    color: #F0F4F9;
    padding-bottom: 32px;
    font-weight: 700;
    letter-spacing: 1.7px;
    line-height: 17px;
    font-size: 16px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
    text-align: left;

}
.seventeen{
    color: #F0F4F9;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 26px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 2px;
    margin-left: 18px;
    padding: 0;
    cursor: pointer;
    text-align: left;

}
.seventeen:hover{
    text-decoration: underline;
}